# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
